Single_Agent_Workflow.json
{
  "name": "Single Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "sender": "kim@deep-content.io"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        0
      ],
      "id": "319e269f-40ed-4710-b002-52451b825bce",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "RSflG3pKbRde6p0I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "single_agent_session"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        220
      ],
      "id": "36619ef3-0b12-469f-b413-3579b4dd89b7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14AjQZ68YdRIrWMOmAGimBRDWr_RWLV-DgC2TppkFYKY",
          "mode": "list",
          "cachedResultName": "Projekt_EQX-Alpha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14AjQZ68YdRIrWMOmAGimBRDWr_RWLV-DgC2TppkFYKY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Projektdetails_EQX_Alpha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14AjQZ68YdRIrWMOmAGimBRDWr_RWLV-DgC2TppkFYKY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        520,
        220
      ],
      "id": "158b7b66-0594-4450-a479-7e785aa82da9",
      "name": "Projektdetails_EQX_Alpha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yYsN0ijU3PljhcIv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14AjQZ68YdRIrWMOmAGimBRDWr_RWLV-DgC2TppkFYKY",
          "mode": "list",
          "cachedResultName": "Projekt_EQX-Alpha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14AjQZ68YdRIrWMOmAGimBRDWr_RWLV-DgC2TppkFYKY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1123411083,
          "mode": "list",
          "cachedResultName": "Konkurrenzanalyse_Automotive_EV",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14AjQZ68YdRIrWMOmAGimBRDWr_RWLV-DgC2TppkFYKY/edit#gid=1123411083"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        700,
        220
      ],
      "id": "2994253e-240f-4b7f-8e82-4bdf0b7181eb",
      "name": "Konkurrenzanalyse_Automotive_EV",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yYsN0ijU3PljhcIv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "kim@deep-content.io",
        "subject": "Projektbericht EQX-Alpha",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        0
      ],
      "id": "8360fc96-dcab-452c-9eb8-2d6a21340cd9",
      "name": "Gmail",
      "webhookId": "74cbb0b5-5f56-40be-a930-a5172d080cfe",
      "credentials": {
        "gmailOAuth2": {
          "id": "RSflG3pKbRde6p0I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        840,
        220
      ],
      "id": "c88b40c9-6870-4425-bf65-bac9c52cf9ff",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "kZ0BEcXYBK3ZBmn9",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        60,
        0
      ],
      "id": "9ef8ff0d-0cff-4fa7-827a-53838f80466d",
      "name": "Get Message",
      "webhookId": "4181700a-2ef9-4eba-9697-8b28f9885ddb",
      "credentials": {
        "gmailOAuth2": {
          "id": "RSflG3pKbRde6p0I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Du erhältst eine E-Mail mit Projektnotizen für das Daimler EQX-Alpha Projekt. Dein Ziel ist es, einen vollständigen, professionellen Projektbericht zu erstellen.\n\nZIEL: Erstelle einen strukturierten Projektbericht mit den Abschnitten:\n1. Eigener Projektfortschritt (Daimler EQX-Alpha)\n2. Marktsituation & Konkurrenz China  \n3. Marktsituation & Konkurrenz Europa\n4. Knappe Einschätzung & Prognose für Daimler (EQX-Alpha)\n\nVERFÜGBARE RESSOURCEN:\n- E-Mail-Inhalt: {{ $json.text }}\n- Projektdetails_EQX_Alpha (Google Sheets Tool)\n- Konkurrenzanalyse_Automotive_EV (Google Sheets Tool)  \n- SerpAPI (für aktuelle Marktrecherche)\n- Memory (für Zwischenergebnisse)\n\nAUTONOME ARBEITSWEISE:\nDu entscheidest vollständig selbstständig:\n- In welcher Reihenfolge du die Tools nutzt\n- Wie oft du recherchierst und welche Suchbegriffe du verwendest\n- Wann du genügend Informationen hast\n- Wie du die Daten analysierst und strukturierst\n- Ob und wann du Qualitätschecks durchführst\n- Wann der Bericht fertig ist\n\nQUALITÄTSANSPRUCH:\n- Professionelle, klare und präzise Formulierung\n- Logische Integration aller verfügbaren Datenquellen\n- Aktuelle Marktinformationen (nach Juni 2024)\n- HTML-Formatierung für E-Mail-Kommunikation optimiert\n\nAUSGABE:\nNur der finale Berichtstext in HTML-Format, ohne Meta-Kommentare oder Erklärungen deines Vorgehens.\n\nBeginne jetzt mit deiner autonomen Analyse und Berichtserstellung.",
        "options": {
          "systemMessage": "Du bist ein autonomer KI-Agent für Projektmanagement in der Automobilindustrie. \n\nKERNFÄHIGKEITEN:\n- Eigenständige Entscheidungsfindung über Vorgehensweise und Tool-Nutzung\n- Adaptive Problemlösung bei unerwarteten Situationen\n- Selbstständige Qualitätskontrolle und Iteration\n- Strategische Planung basierend auf verfügbaren Ressourcen\n\nARBEITSWEISE:\n- Analysiere die Aufgabe und entwickle eine eigene Strategie\n- Entscheide selbstständig, welche Tools wann und wie oft zu nutzen sind\n- Bewerte kontinuierlich deine Fortschritte und passe bei Bedarf die Strategie an\n- Führe Qualitätschecks durch und iteriere bei Bedarf\n- Löse Probleme kreativ und finde alternative Wege bei Hindernissen\n\nDu agierst vollständig autonom innerhalb deiner verfügbaren Tools und Ressourcen."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        440,
        0
      ],
      "id": "2abdaddf-f1ab-4299-b7e7-657282265946",
      "name": "Projektbericht-Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        220
      ],
      "id": "8d216f10-dc86-404b-85cc-a26190cfd735",
      "name": "GPT-4.1",
      "credentials": {
        "openAiApi": {
          "id": "VXRIqS7E89Dv0NvQ",
          "name": "OpenAI DC"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Projektbericht-Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Projektdetails_EQX_Alpha": {
      "ai_tool": [
        [
          {
            "node": "Projektbericht-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Konkurrenzanalyse_Automotive_EV": {
      "ai_tool": [
        [
          {
            "node": "Projektbericht-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Projektbericht-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Message": {
      "main": [
        [
          {
            "node": "Projektbericht-Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Projektbericht-Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Projektbericht-Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a48cae96-92d7-4f8e-8898-da54620d0368",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a5559e8ad334c16d84ff797b1a53514ebc8a5446b58a1363bd0f879a6fb3f28"
  },
  "id": "qZEHrtxnOQ3egQrD",
  "tags": []
}